{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content2 %}
<div class="jumbotron">
  <h2>Send donor email</h2>
  <br>

  <form action="{{ url_for('main.manual_send_email') }}" method="POST">

    {{ form.hidden_tag() }}

    {{ wtf.form_field(form.first_name, class="form-control", placeholder="Bob") }}

    {{ wtf.form_field(form.email, class="form-control", placeholder="bob@example.com") }}

    {{ wtf.form_field(form.amount, class="form-control", type="number", min="0.01", step="0.01", placeholder="0.00") }}

    {{ wtf.form_field(form.signup_form_link, class="form-control", placeholder="alternative link") }}

    <div class="alert alert-info">
      The default Mailchimp signup link is
      <strong>
        <a href="http://eepurl.com/cZBoOX" target="_blank">http://eepurl.com/cZBoOX</a>
      </strong>
    </div>

    <div class="alert alert-info">
      The sender of this email is
      <strong>
      donation@cookplaylive.org
    </strong>
    </div>

    <br>

    <input type="submit" class="btn btn-primary" value="Submit">
  </form>

</div>
{% endblock %}
